* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgb(0, 0, 0, 0);
    border-radius: 12px;
    background: slategray;
    overflow: hidden;
}

form input {
    margin: 5px;
    width: 97%;
    height: 135px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    background: black;
    text-align: right;
    pointer-events: none;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow{
    background: coral;
    color: white;
}

.btn-grey{
    background: aliceblue;
}


.btn-equal{
    flex-basis: 100%;
    width: 100%;
}


.btn-clear{
    background: khaki;
}

p {
        color: lightslategrey;
        font-size: 15px;
        font-family: Gadugi, sans-serif;
      }


